@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Primary */
:root {
  --Green-500: hsl(163, 72%, 41%);
  --Red-500: hsl(356, 69%, 56%);
  --Blue-600-Facebook: hsl(208, 92%, 53%);
  --Blue-500-Twitter: hsl(203, 89%, 53%);
  --Linear-gradient-Instagram: 90deg, hsl(37, 97%, 70%), hsl(5, 77%, 71%), hsl(329, 70%, 58%);
  --Red-700-YouTube: hsl(348, 97%, 39%);
}

/* light theme */
:root,
[data-theme='light'] {
  --White-BG: hsl(0, 100%, 100%);
  --Blue-50-TopBGPattern: hsl(225, 100%, 98%);
  --Navy-50-CardBG: hsl(227, 47%, 96%);
  --Gray-650-Text: hsl(228, 12%, 44%);
  --Gray-950-Text: hsl(230, 17%, 14%);
}

/* dark theme */
[data-theme='dark'] {
  --Gray-950-BG: hsl(230, 17%, 14%);
  --Gray-900-Top-BG-Pattern: hsl(232, 19%, 15%);
  --Navy-950-CardBG: hsl(228, 28%, 20%);
  --Gray-400-Text: hsl(230, 22%, 74%);
  --White-Text: hsl(0, 100%, 100%);
}

body {
  font-family: "Inter", sans-serif;
  position: relative;
}

.top-card {
  width: 100%;
  height: 100px;
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: -10;
}

.top-card[data-theme='light'] {
  background: var(--Blue-50-TopBGPattern);
}

.top-card[data-theme='dark'] {
  background: var(--Gray-900-Top-BG-Pattern);
}

.container {
  padding: 1rem 2rem;
  z-index: 100;
}

.heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding-top: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.toggle-container[data-theme='light'] {
  border-top: 2px solid var(--Gray-950-Text);
}

.toggle-container[data-theme='dark'] {
  border-top: 2px solid var(--Gray-400-Text);
}

.toggle-btn {
  width: 50px;
  height: 26px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 4px;
  transition: background-color 0.3s ease;
  position: relative;
}

.toggle-btn.off {
  background-color: hsl(230, 22%, 74%);
}

.toggle-btn.on {
  background: linear-gradient(hsl(210, 79%, 56%), hsl(146, 68%, 55%));
}

.toggle-handle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0 3s cubic-bezier(0.4, 0, 0.2, 1);
}

.toggle-btn.on .toggle-handle {
  background-color: var(--Gray-950-BG);
  transform: translateX(-19px);
}

.dark-theme {
  background-color: var(--Gray-950-BG);
}

.dark {
  background-color: var(--White-Text);
}

.wrap {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 1rem;
  padding-top: 10px;
}

.first {
  margin-bottom: 2rem;
}

.face {
  background-color: var(--Blue-600-Facebook);
}

.twit {
  background-color: var(--Blue-500-Twitter);
}

.inst {
  background: linear-gradient(var(--Linear-gradient-Instagram));
}

.yout {
  background-color: var(--Red-700-YouTube);
}

.card,
.overview {
  display: flex;
  flex-direction: column;
  border: none;
}

.card[data-theme='light'],
.overview[data-theme='light'] {
  background-color: var(--Navy-50-CardBG);
}

.card[data-theme='dark'],
.overview[data-theme='dark'] {
  background-color: var(--Navy-950-CardBG);
}

.card {
  align-items: center;
  gap: 8px;
  padding: 1rem;
}

.flexed {
  display: flex;
  align-items: center;
  gap: 5px;
}

.status {
  letter-spacing: 3px;
  font-weight: 400;
}

.social {
  width: 20px;
  height: 20px;
}

.arrow {
  width: 8px;
  height: 4px;
}

.up {
  color: var(--Green-500);
  font-weight: 700;
}

.down {
  color: var(--Red-500);
  font-weight: 700;
}

.today {
  font-size: 24px;
  font-weight: 700;
  color: var(--Gray-650-Text);
  margin-bottom: 1.5rem;
}

.overview {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.view {
  display: flex;
  justify-content: space-between;
}

.details {
  margin-top: 1rem;
}

.flx {
  font-size: 14px;
  display: flex;
  align-items: center;
  align-self: last baseline;
  gap: 5px;
}

@media (min-width: 768px) {
  .top-card {
    height: 250px;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .toggle-container[data-theme='light'] {
    padding-top: 0;
    border-top: none;
  }

  .toggle-container[data-theme='dark'] {
    padding-top: 0;
    border-top: none;
  }

  .first {
    margin-bottom: 2.5rem;
  }

  .overview {
    gap: 1.3rem;
  }
}